# Включаем модуль переписывания URL
RewriteEngine On

# Перенаправляем HTTP на HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://vodka-kaz.online/$1 [R=301,L]

# Если запрашиваемый файл или папка не существуют, перенаправляем на index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]

# Разрешаем индексацию страницы для поисковиков
Header set X-Robots-Tag "index, follow"

# Отключаем кэширование, если нужно
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 month"
</IfModule>

